<!DOCTYPE html>
<html>
<head>
  <title>Professional Office For Rent</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.6.3/css/all.css">
  <!--  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2FD33n5SdQ81WUE00s/" -->
  <style>
    body{
      background: #dedede;
      font-family: Arial;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    .dropdown{
      margin: 0 auto;
    }
    nav{
      height: 120px;
      background:rgba(10,15,56,0.9);
      box-shadow: 0 10px 15px rgba(0, 0,0,0.1)
    }
    .logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
    }
    nav ul{
      padding: 0;
      margin:0;
      float: right;
      margin-right: 540px;
      /* margin-top: 80px;  */
    }
    nav ul li{
      background: #2c3e50;
      position: relative;
      list-style: none;
      display: inline-block;
    }
    nav ul li a{
      display: block;
      padding: 0 9px;
      color: white;
      text-decoration: none;
      line-height: 40px;
      font-size:13px;
    }
    nav ul li a:hover{
      background: #243342;
    }
    nav ul ul{
      position: absolute;
      top: 40px;
      display: none;
    }
    nav ul li:hover > ul{
      display: block;
    }
    nav ul ul li{
      width: 115px;
      float: none;
      display: list-item;
      position: relative;
    }
    .first-image{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
    }
    .img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
  </style>
</head>  
<body>
  <div class="dropdown">
    <nav>
      <img src="http://www.csocarlton.com.au/wp-content/uploads/2017/05/cropped-cso-carlton-logo-navy1_whitetextonly.png" class="logo">
      <ul>
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/aboutUs">About Us</a>
        </li>
        <li>
          <a href="">Our Offices</a>
          <ul>
            <li><a href="/twopeople"><span style='font-size:20px;'>&#8804;</span>Two People</a></li>
            <li><a href="/threepeople"><span style='font-size:20px;'>&#8804;</span>Three People</a></li>
            <li><a href="/fourpeople"><span style='font-size:20px;'>&#8804;</span>Four People</a></li>
          </ul>
        </li>
        <li>
            <a href="/logout">Logout</a>
          </li>
      </ul>
    </nav>
  </div>
  <div class="row h-100 align-items-center" style="background:white">
        <div class="para">
                <h1 style="text-align:center; font-style:oblique; font-size: 50px;">About CSO Carlton</h1>
            </div>
            <div class="img">
                <img src="http://www.csocarlton.com.au/wp-content/uploads/2017/04/cso-suite3-1.jpg" width="800px" height="400px">
            </div>
            <p style="text-align:center;">Corporate Serviced Offices (CSO) Carlton is a well-appointed boutique serviced office complex offering a friendly, professional and dedicated service tailored to your needs.</p>
  <p style="text-align:center">Whether you require your own fully equipped serviced office, co-working area, meeting room or virtual office, we have a work space suitable for you.</p>
  <p style="text-align:center">Positioned in the heart of Carlton between Melbourne University and the bustling Lygon Street precinct there is a multitude of cafes and restaurants at our doorstep.</p><br>

        </div>
  
        
</body>
</html>  